/* Variables */
:root {
    /* Primary color */
    --color-e-left: hsl(31, 77%, 52%);
    --color-e-middle: hsl(184, 100%, 22%);
    --color-e-right: hsl(179, 100%, 13%);

    /* Neutral color */
    --color-paragraph: hsla(0, 0%, 100%, 0.75);
    --color-other: hsl(0, 0%, 95%);

    /* Font familly */
    --first-font: 'Big Shoulders Display', cursive;
    --second-font: 'Lexend Deca', sans-serif;
}

/* Code from Frontend Mentor */
.attribution { 
    margin-top: 1%;
    font-size: 11px;
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* My custom CSS */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: var(--second-font);
    background-color: var(--color-other);
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color-other);
    margin-left: 15%;
    margin-right: 15%;
}

p {
    color: var(--color-paragraph);
    line-height: 1.5em;
}

.element-left, .element-middle, .element-right {
    display: flex;
    flex-direction: column;
}

.element-left {
    background-color: var(--color-e-left);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 450px;
}

.element-middle {
    background-color: var(--color-e-middle);
    width: 450px;
}

.element-right {
    background-color: var(--color-e-right);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 450px;
}

.display-icon {
    padding: 50px 0 0 30px;
}

h1 {
    padding-left: 30px;
    font-family: var(--first-font);
    font-size: 2.5em;
}

p {
    padding: 0 50px 0 30px;
    font-size: 0.87em;
}

.btn-left, .btn-middle, .btn-right {
    background-color: var(--color-other);
    border-style: none;
    border-radius: 45px;
    width: 150px;
    height: 50px;
    margin-bottom: 30px;
    margin-top: 50px;
}

.btn-left {
    color: var(--color-e-left);
    margin-left: 30px;
    font-family: var(--second-font);
}

.btn-left:hover {
    background-color: var(--color-e-left);
    color: var(--color-paragraph);
    border: solid;
}

.btn-middle {
    color: var(--color-e-middle);
    margin-left: 30px;
    font-family: var(--second-font);
} 

.btn-middle:hover {
    background-color: var(--color-e-middle);
    color: var(--color-paragraph);
    border: solid;

}

.btn-right {
    color: var(--color-e-right);
    margin-left: 30px;
    font-family: var(--second-font);
}

.btn-right:hover {
    background-color: var(--color-e-right);
    color: var(--color-paragraph);
    border: solid;
}

/* smaller than a desktop  */
@media screen and (max-width: 768px) {
    body{
        height: 100vh;
        display: flex;
        align-items: center;
    }

    .element-left {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        width: 350px;
    }
    
    .element-middle {
        width: 350px;
    }
    
    .element-right {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        width: 350px;
    }
}

/* Mobile responsive  */
@media screen and (max-width: 600px) {
    body {
        height: auto;
    }

    main {
        margin-top: 50px;
    }

    .container {
        flex-direction: column;
        /* width: 90%; */
    }

    .element-left {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border-bottom-left-radius: 0px;
        width: 350px;
    }
    
    .element-middle {
        width: 350px;
    }
    
    .element-right {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        width: 350px;
    }

    .display-icon {
        padding: 50px 0 0 40px;
    }
    
    h1 {
        padding-left: 40px;
        font-family: var(--first-font);
        font-size: 2.5em;
    }
    
    p {
        padding: 0 80px 0 40px;
        font-size: 0.87em;
        margin: 0px 0px 0px 0px;
    }

    .btn-left, .btn-middle, .btn-right {
        background-color: var(--color-other);
        border-style: none;
        border-radius: 45px;
        width: 150px;
        height: 50px;
        margin-bottom: 50px;
        margin-top: 26.8px;
    }
}